html{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Mukta", sans-serif;
    color: rgba(51, 51, 51, 0.822);
    width: 100%;
}
ul{
    padding-inline-start: 0px;
    display: inline-flex;
    font-size: 24px;
    gap:30px;
    margin-right: 24px;
}

ul li{
    list-style: none;   
}
#logo{
    height: 50px;
}
#name_1, #name_2{
    display: inline-block;
    text-transform: uppercase;
    font-size: 32px;   
}
#name_1{
    font-weight: bolder;
}
#name_2{
    color:rgba(148, 148, 148, 0.74);
}
.logo_name{
    display: flex;
    align-items: center;
}
header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 24px;
}
.rectangle_1{
    background-color: rgba(169, 169, 169, 0.5);
    display:inline-flex;
    align-items: center;
    padding: 32px 24px;
}
#banner{
    width: 60%;
    padding-right: 24px;
}
#info{
    display: inline;
  padding: 0px 24px ;
  width: 30%;
}
video{
    width: 60%;
}
h1{
    width: fit-content;
    font-size: 54px;
    line-height: 110%;
    font-weight:bolder;
    margin: 32px 0px;
}
h3{
    font-size: 26px;
    line-height: 150%;
}
#button{
    background-color:rgba(51, 51, 51, 0.822);
    color: white;
    font-size: larger;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
}
#button_text{
    text-align: center;
    padding: 8px;
    font-size: 20px;
}
.rectangle_2{
    background-color: rgb(240, 239, 239);
    padding: 32px 24px;
    display:inline-flex;
    font-size: 18px;
}
.left_part{
    width: 60%;
    
}
#left_image{
    width:100%;  
    margin-right: 24px;
}

.right_part{
    width:40%;
}
.foto_and_text{
    display:inline-flex;
    margin-left: 24px;
}
.foto{
    width: 35%;
    height: auto;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}
.text{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0px 16px;
}
.text h3{
    margin: 0%;
}
.text p{
    margin: 8px 0px;
}
.text a{
    text-decoration: none;
    color: rgba(0, 140, 255, 0.959); 
}
h2{
    font-size: 48px;
    font-weight:bolder;
    margin-top: 32px;
    margin-bottom: 24px;
}
.left_part span{
    font-size: 15px;
}
.rectangle_3{
    background-color: rgba(169, 169, 169, 0.5);
    padding: 32px 24px;
}
.fotos_container{
    display:table;
    
}