#name_1, #name_2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bolder;
}
#name_1{
    color: rgba(51, 51, 51, 0.74);
}
#name_2{
    color:rgba(148, 148, 148, 0.74)
}
header{
    display: flex;
    align-items: center;
}